In [1]:
import os
import pprint

import pandas as pd

In [2]:
# set global variables
DATA_DIR = "../data"

In [3]:
# load the dataset
df = pd.read_csv(os.path.join(DATA_DIR, "train_data.csv"))
df.head()

,SK_ID_CURR,NAME_CONTRACT_TYPE,CODE_GENDER,FLAG_OWN_CAR,FLAG_OWN_REALTY,CNT_CHILDREN,AMT_INCOME_TOTAL,AMT_CREDIT,AMT_ANNUITY,AMT_GOODS_PRICE,...,FLAG_DOCUMENT_19,FLAG_DOCUMENT_20,FLAG_DOCUMENT_21,AMT_REQ_CREDIT_BUREAU_HOUR,AMT_REQ_CREDIT_BUREAU_DAY,AMT_REQ_CREDIT_BUREAU_WEEK,AMT_REQ_CREDIT_BUREAU_MON,AMT_REQ_CREDIT_BUREAU_QRT,AMT_REQ_CREDIT_BUREAU_YEAR,TARGET
0,450407,Cash loans,F,N,Y,1,67500.0,227520.0,11065.5,180000.0,...,0,0,0,0.0,0.0,0.0,1.0,0.0,2.0,0
1,271298,Cash loans,M,Y,Y,1,247500.0,1882372.5,65560.5,1719000.0,...,0,0,0,0.0,0.0,0.0,0.0,1.0,3.0,0
2,122238,Cash loans,M,Y,Y,1,180000.0,101880.0,10827.0,90000.0,...,0,0,0,0.0,0.0,0.0,2.0,0.0,1.0,0
3,305311,Cash loans,M,N,N,0,81000.0,405000.0,20677.5,405000.0,...,0,0,0,0.0,0.0,0.0,0.0,0.0,2.0,0
4,414121,Cash loans,F,N,Y,0,157500.0,888840.0,29506.5,675000.0,...,0,0,0,0.0,0.0,0.0,0.0,0.0,2.0,0

In [4]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 184506 entries, 0 to 184505
Columns: 122 entries, SK_ID_CURR to TARGET
dtypes: float64(65), int64(41), object(16)
memory usage: 171.7+ MB

In [5]:
duplicated_rows = len(df.index[df.duplicated()])
print(f"There are {duplicated_rows} duplicate rows in the dataset.")

There are 0 duplicate rows in the dataset.

In [10]:
for column in df.columns:
    un = len(df[column].unique())
    if un < 2:
        print(column, un)

FLAG_DOCUMENT_12 1

In [13]:
df["FLAG_MOBIL"].value_counts()

1    184505
0         1
Name: FLAG_MOBIL, dtype: int64

In [19]:
for column in df.columns:
    print(df[column].value_counts())
    print("\n\n\n")

450407    1
343122    1
204113    1
365616    1
350552    1
         ..
270214    1
421545    1
275552    1
172035    1
125605    1
Name: SK_ID_CURR, Length: 184506, dtype: int64




Cash loans         167013
Revolving loans     17493
Name: NAME_CONTRACT_TYPE, dtype: int64




F      121357
M       63147
XNA         2
Name: CODE_GENDER, dtype: int64




N    121630
Y     62876
Name: FLAG_OWN_CAR, dtype: int64




Y    128059
N     56447
Name: FLAG_OWN_REALTY, dtype: int64




0     129082
1      36984
2      15938
3       2190
4        237
5         48
6         12
7          5
14         2
12         2
8          2
9          2
10         1
19         1
Name: CNT_CHILDREN, dtype: int64




135000.0     21456
112500.0     18455
157500.0     15988
180000.0     14874
90000.0      13404
             ...
190611.0         1
110475.0         1
124006.5         1
69246.0          1
1147500.0        1
Name: AMT_INCOME_TOTAL, Length: 1768, dtype: int64




450000.0     5884
675000.0     5289
225000.0     4885
180000.0     4327
270000.0     4301
             ...
172206.0        1
55692.0         1
1897155.0       1
1586281.5       1
744988.5        1
Name: AMT_CREDIT, Length: 4855, dtype: int64




9000.0      3773
13500.0     3268
6750.0      1367
10125.0     1216
37800.0      938
            ...
63796.5        1
111091.5       1
83277.0        1
51079.5        1
8559.0         1
Name: AMT_ANNUITY, Length: 12412, dtype: int64




450000.0     15757
225000.0     15143
675000.0     14779
900000.0      9258
270000.0      6757
             ...
234342.0         1
660244.5         1
1180273.5        1
225243.0         1
744988.5         1
Name: AMT_GOODS_PRICE, Length: 793, dtype: int64




Unaccompanied      149059
Family              24044
Spouse, partner      6869
Children             1982
Other_B              1081
Other_A               528
Group of people       173
Name: NAME_TYPE_SUITE, dtype: int64




Working                 95302
Commercial associate    42967
Pensioner               33227
State servant           12981
Unemployed                 15
Student                     6
Businessman                 6
Maternity leave             2
Name: NAME_INCOME_TYPE, dtype: int64




Secondary / secondary special    131092
Higher education                  44810
Incomplete higher                  6179
Lower secondary                    2322
Academic degree                     103
Name: NAME_EDUCATION_TYPE, dtype: int64




Married                 117746
Single / not married     27130
Civil marriage           18094
Separated                11904
Widow                     9631
Unknown                      1
Name: NAME_FAMILY_STATUS, dtype: int64




House / apartment      163818
With parents             8868
Municipal apartment      6622
Rented apartment         2943
Office apartment         1586
Co-op apartment           669
Name: NAME_HOUSING_TYPE, dtype: int64




0.035792    9920
0.046220    8082
0.030755    7247
0.025164    7184
0.026392    6993
            ...
0.001417     288
0.001333     148
0.000533      24
0.000938      14
0.000290       1
Name: REGION_POPULATION_RELATIVE, Length: 81, dtype: int64




-16511    28
-13481    28
-12478    27
-10020    27
-11928    27
          ..
-24262     1
-24329     1
-24424     1
-25017     1
-7866      1
Name: DAYS_BIRTH, Length: 17334, dtype: int64




 365243    33236
-199         101
-200          93
-230          92
-213          89
           ...
-12564         1
-13413         1
-12477         1
-10500         1
-8924          1
Name: DAYS_EMPLOYED, Length: 11404, dtype: int64




-1.0        65
-4.0        65
-2.0        64
-6.0        57
-3.0        56
            ..
-15379.0     1
-17252.0     1
-17389.0     1
-13712.0     1
-13987.0     1
Name: DAYS_REGISTRATION, Length: 15002, dtype: int64




-4053    107
-4375    101
-4095    100
-4151    100
-4109     99
        ...
-6074      1
-5907      1
-5801      1
-6163      1
-5865      1
Name: DAYS_ID_PUBLISH, Length: 6086, dtype: int64




7.0     4510
6.0     3844
3.0     3805
2.0     3550
8.0     3516
4.0     3328
1.0     3157
9.0     2993
10.0    2939
13.0    2761
14.0    2754
12.0    2567
11.0    2527
15.0    2188
5.0     2150
16.0    2008
17.0    1784
64.0    1474
18.0    1433
0.0     1269
19.0    1119
20.0     896
21.0     853
22.0     748
24.0     660
23.0     639
25.0     523
65.0     522
26.0     339
28.0     322
27.0     304
29.0     236
30.0     188
31.0     159
32.0     117
34.0     112
35.0      91
33.0      80
36.0      74
40.0      63
38.0      63
37.0      47
39.0      46
41.0      37
42.0      19
44.0      14
43.0       9
54.0       8
49.0       6
45.0       6
46.0       3
91.0       2
55.0       2
51.0       2
63.0       2
52.0       1
48.0       1
57.0       1
69.0       1
56.0       1
Name: OWN_CAR_AGE, dtype: int64




1    184505
0         1
Name: FLAG_MOBIL, dtype: int64




1    151267
0     33239
Name: FLAG_EMP_PHONE, dtype: int64




0    147768
1     36738
Name: FLAG_WORK_PHONE, dtype: int64




1    184145
0       361
Name: FLAG_CONT_MOBILE, dtype: int64




0    132547
1     51959
Name: FLAG_PHONE, dtype: int64




0    174056
1     10450
Name: FLAG_EMAIL, dtype: int64




Laborers                 32968
Sales staff              19351
Core staff               16492
Managers                 12780
Drivers                  11238
High skill tech staff     6859
Accountants               5897
Medicine staff            5130
Security staff            4074
Cooking staff             3621
Cleaning staff            2766
Private service staff     1565
Low-skill Laborers        1223
Waiters/barmen staff       819
Secretaries                787
Realty agents              434
HR staff                   321
IT staff                   314
Name: OCCUPATION_TYPE, dtype: int64




2.0     95173
1.0     40493
3.0     31820
4.0     14659
5.0      2067
6.0       221
7.0        45
8.0        12
9.0         5
10.0        3
16.0        2
14.0        2
12.0        1
20.0        1
11.0        1
Name: CNT_FAM_MEMBERS, dtype: int64




2    136345
3     28858
1     19303
Name: REGION_RATING_CLIENT, dtype: int64




2    137811
3     26238
1     20457
Name: REGION_RATING_CLIENT_W_CITY, dtype: int64




TUESDAY      32405
WEDNESDAY    31140
THURSDAY     30636
MONDAY       30361
FRIDAY       30088
SATURDAY     20163
SUNDAY        9713
Name: WEEKDAY_APPR_PROCESS_START, dtype: int64




10    22697
11    22635
12    20502
13    18369
14    16636
9     16337
15    14989
16    12253
8      9012
17     8915
7      5415
18     5397
6      3484
19     2333
5      2225
4      1272
3       730
20      689
21      236
2       183
22       93
1        57
23       24
0        23
Name: HOUR_APPR_PROCESS_START, dtype: int64




0    181706
1      2800
Name: REG_REGION_NOT_LIVE_REGION, dtype: int64




0    175041
1      9465
Name: REG_REGION_NOT_WORK_REGION, dtype: int64




0    176909
1      7597
Name: LIVE_REGION_NOT_WORK_REGION, dtype: int64




0    169971
1     14535
Name: REG_CITY_NOT_LIVE_CITY, dtype: int64




0    142010
1     42496
Name: REG_CITY_NOT_WORK_CITY, dtype: int64




0    151432
1     33074
Name: LIVE_CITY_NOT_WORK_CITY, dtype: int64




Business Entity Type 3    40943
XNA                       33236
Self-employed             22877
Other                      9961
Medicine                   6752
Business Entity Type 2     6332
Government                 6225
School                     5303
Trade: type 7              4692
Kindergarten               4150
Construction               4075
Business Entity Type 1     3529
Transport: type 4          3228
Trade: type 3              2093
Industry: type 3           2011
Security                   1993
Industry: type 9           1983
Housing                    1786
Industry: type 11          1613
Military                   1548
Bank                       1493
Agriculture                1439
Police                     1406
Transport: type 2          1347
Postal                     1311
Security Ministries        1205
Trade: type 2              1200
Restaurant                 1094
Services                    944
University                  793
Industry: type 7            777
Transport: type 3           722
Industry: type 1            617
Hotel                       580
Electricity                 560
Industry: type 4            520
Trade: type 6               395
Insurance                   386
Industry: type 5            350
Telecom                     344
Emergency                   329
Advertising                 264
Industry: type 2            260
Realtor                     236
Culture                     228
Industry: type 12           221
Trade: type 1               220
Mobile                      189
Legal Services              180
Cleaning                    143
Transport: type 1           109
Religion                     63
Industry: type 10            63
Industry: type 6             63
Industry: type 13            43
Trade: type 4                39
Trade: type 5                31
Industry: type 8             12
Name: ORGANIZATION_TYPE, dtype: int64




0.338143    4
0.534251    4
0.502772    4
0.437620    4
0.423264    4
           ..
0.211705    1
0.328651    1
0.730559    1
0.884898    1
0.569200    1
Name: EXT_SOURCE_1, Length: 73057, dtype: int64




0.285898    417
0.262258    257
0.159679    209
0.265256    207
0.265312    180
           ...
0.134896      1
0.337823      1
0.109853      1
0.517702      1
0.654977      1
Name: EXT_SOURCE_2, Length: 94605, dtype: int64




0.746300    887
0.713631    800
0.694093    755
0.595456    708
0.689479    706
           ...
0.870842      1
0.018266      1
0.025272      1
0.026732      1
0.023062      1
Name: EXT_SOURCE_3, Length: 790, dtype: int64




0.0825    3980
0.0619    3860
0.0928    2686
0.0722    2409
0.0082    2121
          ...
0.0306       1
0.9907       1
0.4210       1
0.6691       1
0.0882       1
Name: APARTMENTS_AVG, Length: 2150, dtype: int64




0.0000    8832
0.0796     157
0.0818     152
0.1091     151
0.0727     146
          ...
0.5004       1
0.1904       1
0.4164       1
0.3061       1
0.4426       1
Name: BASEMENTAREA_AVG, Length: 3545, dtype: int64




0.9871    2616
0.9801    2513
0.9861    2477
0.9856    2473
0.9851    2469
          ...
0.3304       1
0.4908       1
0.6344       1
0.4953       1
0.9265       1
Name: YEARS_BEGINEXPLUATATION_AVG, Length: 259, dtype: int64




0.8232    1810
0.7280    1698
0.8300    1698
0.8164    1680
0.8096    1657
          ...
0.0548       1
0.1024       1
0.0208       1
0.1908       1
0.1840       1
Name: YEARS_BUILD_AVG, Length: 146, dtype: int64

0.0000    5091
0.0079     321
0.0078     291
0.0077     260
0.0080     256
          ...
0.4833       1
0.5087       1
0.3814       1
0.3316       1
0.1952       1
Name: COMMONAREA_AVG, Length: 2828, dtype: int64




0.0000    51528
0.0800     5884
0.1600     5318
0.2400     3656
0.1200     3361
          ...
0.0336        1
0.2160        1
0.2284        1
0.0708        1
0.0020        1
Name: ELEVATORS_AVG, Length: 236, dtype: int64




0.1379    20390
0.0690    13762
0.1034    11832
0.2069    11432
0.0345     9238
          ...
0.1076        1
0.0910        1
0.0645        1
0.1414        1
0.1224        1
Name: ENTRANCES_AVG, Length: 263, dtype: int64




0.1667    37103
0.3333    19069
0.0417     8830
0.3750     4786
0.1250     4248
          ...
0.9375        1
0.5150        1
0.0979        1
0.1521        1
0.2821        1
Name: FLOORSMAX_AVG, Length: 352, dtype: int64




0.2083    19702
0.0417    10722
0.3750    10591
0.0833     3066
0.4167     2402
          ...
0.0158        1
0.1604        1
0.0458        1
0.4708        1
0.3238        1
Name: FLOORSMIN_AVG, Length: 270, dtype: int64




0.0000    9398
0.0316     118
0.0237     116
0.0473     115
0.0631     113
          ...
0.2797       1
0.4130       1
0.4136       1
0.3294       1
0.7820       1
Name: LANDAREA_AVG, Length: 3294, dtype: int64




0.0504    2583
0.0672    2528
0.0756    1657
0.0588    1571
0.0841    1119
          ...
0.0774       1
0.4127       1
0.2334       1
0.0519       1
0.3257       1
Name: LIVINGAPARTMENTS_AVG, Length: 1705, dtype: int64




0.0000    182
0.0510    141
0.0509    140
0.0702    138
0.0538    134
         ...
0.4120      1
0.4421      1
0.5392      1
0.5396      1
0.6957      1
Name: LIVINGAREA_AVG, Length: 4861, dtype: int64




0.0000    32800
0.0039     8078
0.0077     3811
0.0116     2258
0.0154     1521
          ...
0.0033        1
0.2915        1
0.3822        1
0.0162        1
0.5097        1
Name: NONLIVINGAPARTMENTS_AVG, Length: 339, dtype: int64




0.0000    35355
0.0012      336
0.0044      259
0.0022      258
0.0031      248
          ...
0.8556        1
0.2301        1
0.3624        1
0.2979        1
0.7361        1
Name: NONLIVINGAREA_AVG, Length: 2937, dtype: int64




0.0630    4546
0.0840    4525
0.0945    2892
0.0735    2649
0.0084    2414
          ...
0.7794       1
0.6817       1
0.7090       1
0.8918       1
0.6597       1
Name: APARTMENTS_MODE, Length: 733, dtype: int64




0.0000    9947
0.0849     159
0.0642     152
0.0826     151
0.0566     150
          ...
0.2227       1
0.3211       1
0.3901       1
0.2724       1
0.4593       1
Name: BASEMENTAREA_MODE, Length: 3614, dtype: int64




0.9871    2588
0.9801    2508
0.9861    2466
0.9866    2456
0.9851    2419
          ...
0.9290       1
0.8833       1
0.9206       1
0.9101       1
0.9265       1
Name: YEARS_BEGINEXPLUATATION_MODE, Length: 209, dtype: int64




0.8301    1779
0.8236    1693
0.8367    1691
0.7387    1682
0.8171    1650
          ...
0.0003       1
0.1964       1
0.0983       1
0.0591       1
0.0330       1
Name: YEARS_BUILD_MODE, Length: 150, dtype: int64




0.0000    5827
0.0078     327
0.0080     321
0.0079     312
0.0081     246
          ...
0.5174       1
0.4060       1
0.6855       1
0.2053       1
0.3335       1
Name: COMMONAREA_MODE, Length: 2775, dtype: int64




0.0000    53800
0.0806     6946
0.1611     5840
0.2417     3845
0.1208     3416
0.0403     2904
0.2014     2390
0.3222     1694
0.2820     1302
0.4028      915
0.3625      789
0.4834      644
0.4431      386
0.5639      278
0.6445      276
0.5236      150
0.6042      132
0.7250      116
1.0000       82
0.8056       81
0.6848       51
0.9667       48
0.8862       39
0.8459       25
0.7653       24
0.9264       13
Name: ELEVATORS_MODE, dtype: int64




0.1379    21614
0.0690    16011
0.1034    12391
0.2069    11811
0.0345    11728
0.1724     5384
0.2759     4827
0.2414     2450
0.3448     1187
0.3103     1171
0.4138      714
0.3793      580
0.4828      295
0.4483      259
0.0000      244
0.5517      222
0.5172      183
0.6207      137
0.5862      115
1.0000       97
0.6897       64
0.6552       37
0.8966       32
0.7586       31
0.7241       30
0.7931       24
0.8276       23
0.9655       15
0.9310       14
0.8621        9
Name: ENTRANCES_MODE, dtype: int64




0.1667    39317
0.3333    20554
0.0417     9454
0.3750     5030
0.1250     4430
0.0833     3990
0.0000     2120
0.4583     1887
0.6250     1271
0.5417     1092
0.6667      999
0.2083      930
0.2500      343
0.2917      318
0.5833      239
0.8750      135
0.4167      134
0.7083      114
0.5000      110
1.0000      103
0.7500       86
0.9583       52
0.7917       32
0.9167       28
0.8333       12
Name: FLOORSMAX_MODE, dtype: int64




0.2083    20613
0.0417    11429
0.3750    11292
0.0833     3226
0.4167     2485
0.1667     2206
0.1250     1890
0.0000     1450
0.5000     1114
0.6667      786
0.7083      666
0.5833      662
0.2500      485
0.2917      209
0.3333      207
0.6250      127
1.0000       83
0.5417       82
0.9167       80
0.4583       52
0.7500       50
0.7917       42
0.9583       11
0.8333       11
0.8750        4
Name: FLOORSMIN_MODE, dtype: int64




0.0000    10472
0.0194      128
0.0484      122
0.0323      121
0.0144      114
          ...
0.3544        1
0.2027        1
0.2268        1
0.2176        1
0.7999        1
Name: LANDAREA_MODE, Length: 3325, dtype: int64




0.0551    2977
0.0735    2885
0.0826    1768
0.0643    1716
0.0918    1250
          ...
0.7383       1
0.8659       1
0.7925       1
0.5519       1
0.9532       1
Name: LIVINGAPARTMENTS_MODE, Length: 701, dtype: int64




0.0000    274
0.0530    165
0.0532    161
0.0731    145
0.0529    145
         ...
0.4639      1
0.5895      1
0.5303      1
0.4371      1
0.2257      1
Name: LIVINGAREA_MODE, Length: 4955, dtype: int64




0.0000    35623
0.0039     8346
0.0078     3843
0.0117     2224
0.0156     1496
          ...
0.9650        1
0.9533        1
0.6459        1
0.4981        1
0.5136        1
Name: NONLIVINGAPARTMENTS_MODE, Length: 147, dtype: int64




0.0000    40416
0.0046      278
0.0011      274
0.0012      274
0.0023      262
          ...
0.1970        1
0.1701        1
0.2981        1
0.1013        1
0.7793        1
Name: NONLIVINGAREA_MODE, Length: 2970, dtype: int64




0.0833    4254
0.0625    4061
0.0937    2822
0.0729    2545
0.0083    2154
          ...
0.7047       1
0.5439       1
0.6943       1
0.7724       1
0.3003       1
Name: APARTMENTS_MEDI, Length: 1106, dtype: int64




0.0000    8984
0.1091     161
0.0818     160
0.0796     157
0.0545     148
          ...
0.3351       1
0.2616       1
0.2893       1
0.4320       1
0.4426       1
Name: BASEMENTAREA_MEDI, Length: 3538, dtype: int64




0.9871    2619
0.9861    2516
0.9801    2513
0.9856    2469
0.9866    2436
          ...
0.4873       1
0.4863       1
0.4853       1
0.8833       1
0.9265       1
Name: YEARS_BEGINEXPLUATATION_MEDI, Length: 229, dtype: int64




0.8256    1812
0.8323    1702
0.7316    1696
0.8189    1694
0.8121    1668
          ...
0.0674       1
0.3761       1
0.0003       1
0.0339       1
0.0071       1
Name: YEARS_BUILD_MEDI, Length: 147, dtype: int64




0.0000    5243
0.0079     336
0.0078     297
0.0080     285
0.0014     228
          ...
0.3468       1
0.3566       1
0.2387       1
0.6836       1
0.3326       1
Name: COMMONAREA_MEDI, Length: 2854, dtype: int64




0.00    52319
0.08     6447
0.16     5607
0.24     3858
0.12     3568
0.04     2866
0.20     2506
0.32     1741
0.28     1417
0.40      935
0.36      849
0.48      644
0.44      435
0.10      329
0.56      282
0.64      280
0.06      237
0.14      223
0.02      212
0.18      182
0.52      177
0.60      142
0.22      137
0.72      120
1.00       91
0.80       83
0.26       81
0.30       67
0.68       56
0.34       44
0.96       43
0.88       40
0.76       29
0.38       27
0.84       24
0.42       20
0.46       17
0.50       13
0.92       13
0.90        5
0.54        4
0.66        4
0.78        4
0.58        3
0.62        3
0.74        2
Name: ELEVATORS_MEDI, dtype: int64




0.1379    21287
0.0690    14510
0.1034    12381
0.2069    11849
0.0345     9695
0.1724     5740
0.2759     4837
0.2414     2652
0.3448     1221
0.3103     1214
0.0862      819
0.1207      742
0.4138      705
0.3793      602
0.1552      492
0.0517      388
0.1897      334
0.4828      296
0.4483      265
0.5517      223
0.0000      207
0.5172      184
0.2241      151
0.6207      137
0.5862      115
0.2586      108
1.0000       97
0.6897       64
0.2931       62
0.6552       39
0.3276       34
0.8966       32
0.7586       31
0.7241       30
0.3621       27
0.7931       24
0.8276       23
0.4310       18
0.9655       15
0.9310       14
0.8621        9
0.3966        9
0.4655        6
0.0172        6
0.5690        4
0.5000        1
Name: ENTRANCES_MEDI, dtype: int64




0.1667    38146
0.3333    19879
0.0417     8970
0.3750     4960
0.1250     4313
0.0833     3937
0.0000     1844
0.4583     1807
0.6250     1251
0.5417     1102
0.2500      997
0.6667      976
0.2083      944
0.2917      355
0.1042      282
0.3542      274
0.5833      268
0.3958      212
0.4167      201
0.5000      200
0.1458      197
0.2708      176
0.1875      147
0.8750      132
0.4792      132
0.7083      118
1.0000      107
0.7500       92
0.0208       86
0.2292       86
0.3125       85
0.0625       83
0.4375       82
0.6042       71
0.9583       52
0.7917       33
0.9167       28
0.5625       28
0.5208       23
0.8333       21
0.6458       19
0.7708       17
0.6875       16
0.8125       16
0.7292        8
0.8542        3
0.8958        2
0.9375        1
0.9792        1
Name: FLOORSMAX_MEDI, dtype: int64




0.2083    20218
0.3750    10992
0.0417    10909
0.0833     3090
0.4167     2452
0.1667     2153
0.1250     2029
0.0000     1362
0.5000     1082
0.6667      784
0.5833      664
0.7083      641
0.2917      494
0.2500      480
0.3333      221
0.6250      146
0.5417      130
0.3958      125
0.4375      115
0.1458      104
0.1875      101
1.0000       88
0.3125       88
0.4583       87
0.2292       82
0.9167       80
0.2708       70
0.7500       65
0.1042       59
0.5208       51
0.3542       47
0.7917       45
0.4792       35
0.6458       33
0.0625       33
0.0208       28
0.8333       14
0.5625       10
0.7292        9
0.9583        9
0.6042        8
0.8750        8
0.8125        6
0.6875        5
0.7708        5
0.8542        3
0.9792        2
Name: FLOORSMIN_MEDI, dtype: int64




0.0000    9583
0.0193     126
0.0642     116
0.0241     115
0.0321     114
          ...
0.2252       1
0.4202       1
0.2438       1
0.3186       1
0.7956       1
Name: LANDAREA_MEDI, Length: 3330, dtype: int64




0.0513    2709
0.0684    2704
0.0770    1748
0.0599    1640
0.0855    1215
          ...
0.6011       1
0.7610       1
0.5977       1
0.2176       1
0.3313       1
Name: LIVINGAPARTMENTS_MEDI, Length: 1037, dtype: int64




0.0000    187
0.0548    151
0.0518    145
0.0649    135
0.0519    135
         ...
0.2683      1
0.3837      1
0.4435      1
0.5012      1
0.7082      1
Name: LIVINGAREA_MEDI, Length: 4952, dtype: int64




0.0000    33742
0.0039     8373
0.0078     3894
0.0116     2286
0.0155     1540
          ...
0.5590        1
0.3765        1
0.5046        1
0.0873        1
0.5124        1
Name: NONLIVINGAPARTMENTS_MEDI, Length: 191, dtype: int64




0.0000    36711
0.0012      342
0.0022      288
0.0037      276
0.0044      253
          ...
0.2050        1
0.2118        1
0.2691        1
0.1926        1
0.7516        1
Name: NONLIVINGAREA_MEDI, Length: 2960, dtype: int64




reg oper account         44300
reg oper spec account     7241
not specified             3391
org spec account          3320
Name: FONDKAPREMONT_MODE, dtype: int64




block of flats      90350
specific housing      894
terraced house        780
Name: HOUSETYPE_MODE, dtype: int64




0.0000    366
0.0570    138
0.0566    138
0.0548    135
0.0543    133
         ...
0.6021      1
0.5991      1
0.4828      1
0.6220      1
0.4634      1
Name: TOTALAREA_MODE, Length: 4802, dtype: int64




Panel           39687
Stone, brick    38810
Block            5623
Wooden           3230
Mixed            1346
Monolithic       1106
Others            983
Name: WALLSMATERIAL_MODE, dtype: int64




No     95727
Yes     1443
Name: EMERGENCYSTATE_MODE, dtype: int64




0.0      98240
1.0      29319
2.0      17861
3.0      12097
4.0       8516
5.0       5730
6.0       3971
7.0       2660
8.0       1782
9.0       1205
10.0       814
11.0       507
12.0       412
13.0       234
14.0       161
15.0       104
16.0        69
17.0        48
18.0        29
19.0        27
20.0        18
21.0        15
22.0        14
23.0        11
25.0         8
24.0         7
27.0         3
30.0         2
29.0         1
348.0        1
26.0         1
Name: OBS_30_CNT_SOCIAL_CIRCLE, dtype: int64




0.0     162693
1.0      17062
2.0       3162
3.0        745
4.0        155
5.0         38
6.0          9
8.0          1
34.0         1
7.0          1
Name: DEF_30_CNT_SOCIAL_CIRCLE, dtype: int64




0.0      98700
1.0      29358
2.0      17846
3.0      12038
4.0       8387
5.0       5676
6.0       3898
7.0       2642
8.0       1733
9.0       1182
10.0       788
11.0       497
12.0       392
13.0       231
14.0       149
15.0       104
16.0        70
17.0        39
18.0        35
19.0        24
20.0        20
22.0        13
21.0        13
23.0        10
24.0         8
25.0         7
27.0         3
29.0         2
344.0        1
30.0         1
Name: OBS_60_CNT_SOCIAL_CIRCLE, dtype: int64




0.0     168348
1.0      13167
2.0       1871
3.0        378
4.0         84
5.0         14
6.0          3
24.0         1
7.0          1
Name: DEF_60_CNT_SOCIAL_CIRCLE, dtype: int64




 0.0       22654
-1.0        1695
-2.0        1394
-3.0        1061
-4.0         799
           ...
-4070.0        1
-3677.0        1
-3681.0        1
-3567.0        1
-3480.0        1
Name: DAYS_LAST_PHONE_CHANGE, Length: 3682, dtype: int64




0    184499
1         7
Name: FLAG_DOCUMENT_2, dtype: int64




1    130702
0     53804
Name: FLAG_DOCUMENT_3, dtype: int64




0    184489
1        17
Name: FLAG_DOCUMENT_4, dtype: int64




0    181630
1      2876
Name: FLAG_DOCUMENT_5, dtype: int64




0    168207
1     16299
Name: FLAG_DOCUMENT_6, dtype: int64




0    184473
1        33
Name: FLAG_DOCUMENT_7, dtype: int64




0    169319
1     15187
Name: FLAG_DOCUMENT_8, dtype: int64




0    183798
1       708
Name: FLAG_DOCUMENT_9, dtype: int64




0    184502
1         4
Name: FLAG_DOCUMENT_10, dtype: int64




0    183763
1       743
Name: FLAG_DOCUMENT_11, dtype: int64




0    184506
Name: FLAG_DOCUMENT_12, dtype: int64




0    183817
1       689
Name: FLAG_DOCUMENT_13, dtype: int64




0    183967
1       539
Name: FLAG_DOCUMENT_14, dtype: int64




0    184267
1       239
Name: FLAG_DOCUMENT_15, dtype: int64




0    182721
1      1785
Name: FLAG_DOCUMENT_16, dtype: int64




0    184456
1        50
Name: FLAG_DOCUMENT_17, dtype: int64




0    183054
1      1452
Name: FLAG_DOCUMENT_18, dtype: int64




0    184390
1       116
Name: FLAG_DOCUMENT_19, dtype: int64




0    184404
1       102
Name: FLAG_DOCUMENT_20, dtype: int64




0    184446
1        60
Name: FLAG_DOCUMENT_21, dtype: int64




0.0    158545
1.0       923
2.0        33
3.0         6
4.0         1
Name: AMT_REQ_CREDIT_BUREAU_HOUR, dtype: int64




0.0    158587
1.0       790
2.0        69
3.0        30
4.0        20
6.0         5
5.0         5
8.0         1
9.0         1
Name: AMT_REQ_CREDIT_BUREAU_DAY, dtype: int64




0.0    154394
1.0      4903
2.0       131
3.0        38
4.0        19
6.0        13
5.0         8
7.0         2
Name: AMT_REQ_CREDIT_BUREAU_WEEK, dtype: int64




0.0     133399
1.0      19754
2.0       3188
3.0       1207
4.0        647
5.0        371
6.0        216
7.0        166
9.0        132
8.0        110
10.0        75
11.0        74
13.0        48
12.0        44
14.0        27
15.0        21
16.0        14
17.0         7
18.0         4
19.0         2
22.0         1
24.0         1
Name: AMT_REQ_CREDIT_BUREAU_MON, dtype: int64




0.0      129001
1.0       20523
2.0        8626
3.0        1022
4.0         271
5.0          40
6.0          18
8.0           4
7.0           1
261.0         1
19.0          1
Name: AMT_REQ_CREDIT_BUREAU_QRT, dtype: int64




0.0     43204
1.0     37826
2.0     30086
3.0     20299
4.0     12433
5.0      7197
6.0      4142
7.0      2344
8.0      1263
9.0       645
11.0       19
12.0       16
13.0       10
10.0        9
17.0        3
19.0        3
15.0        3
14.0        2
25.0        1
16.0        1
23.0        1
20.0        1
Name: AMT_REQ_CREDIT_BUREAU_YEAR, dtype: int64




0    169611
1     14895
Name: TARGET, dtype: int64

In [21]:
df["REG_REGION_NOT_LIVE_REGION"].std()

0.12225153840948412

In [32]:
for column in df.columns:
    try:
        std_column = df[column].std()
        if std_column < 0.02:
            print(column, std_column)
    except:
        pass

REGION_POPULATION_RELATIVE 0.013817632579011042
FLAG_MOBIL 0.0023280631315212843
FLAG_DOCUMENT_2 0.0061593759302808315
FLAG_DOCUMENT_4 0.00959843398631762
FLAG_DOCUMENT_7 0.013372544706006448
FLAG_DOCUMENT_10 0.004656088409229477
FLAG_DOCUMENT_12 0.0
FLAG_DOCUMENT_17 0.016459706190843363
FLAG_DOCUMENT_21 0.01803021598109628

In [34]:
df["FLAG_DOCUMENT_21"].value_counts()

0    184446
1        60
Name: FLAG_DOCUMENT_21, dtype: int64

In [29]:
df["FLAG_CONT_MOBILE"].std()

0.04419002525707454

In [40]:
df.shape

(184506, 122)

In [44]:
df = df.drop(df.std()[df.std() < 0.02].index.values, axis=1)

/tmp/ipykernel_26535/2890028423.py:1: FutureWarning: The default value of numeric_only in DataFrame.std is deprecated. In a future version, it will default to False. In addition, specifying 'numeric_only=None' is deprecated. Select only valid columns or specify the value of numeric_only to silence this warning.
  df = df.drop(df.std()[df.std() < 0.02].index.values, axis=1)

In [41]:
df.std()[df.std() < 0.02].index.values

/tmp/ipykernel_26535/445524411.py:1: FutureWarning: The default value of numeric_only in DataFrame.std is deprecated. In a future version, it will default to False. In addition, specifying 'numeric_only=None' is deprecated. Select only valid columns or specify the value of numeric_only to silence this warning.
  df.std()[df.std() < 0.02].index.values

array(['REGION_POPULATION_RELATIVE', 'FLAG_MOBIL', 'FLAG_DOCUMENT_2',
       'FLAG_DOCUMENT_4', 'FLAG_DOCUMENT_7', 'FLAG_DOCUMENT_10',
       'FLAG_DOCUMENT_12', 'FLAG_DOCUMENT_17', 'FLAG_DOCUMENT_21'],
      dtype=object)

In [45]:
df.shape

(184506, 113)

In [48]:
df.drop(
    columns=["SK_ID_CURR"],
    axis=1,
    inplace=True,
)

In [49]:
df.shape

(184506, 112)